# Solutions to Lesson 1 Exercises

For each exercise, the solutions below show one possible way of solving it, but you might have used a different approach, and that's great! There is almost always more than one way to solve any particular problem in Python.

# Exercise 1.1

**a)** Create a variable `y` with a value of `7`

In [1]:
y = 7

**b)** Create a variable `two_y` with a value of `2 * y`

In [2]:
two_y = 2 * y

**c)** Change the value of `y` to `9`. What is the value of `two_y` now, `14` or `18`?

In [3]:
y = 9

In [4]:
two_y

14

### Bonus exercises

**d) Concatenating strings and integers** 

Assign a value of `2018` to the variable `year`. What happens if you use the `+` operator to add the string `'The year is '` with the variable `year`, as shown below? (*You'll need to copy the code below into a cell in your notebook in order to run it.*)
```python
observation = 'The year is ' + year
```
> You'll find you get an error message because Python doesn't know how to add an integer and a string together.

You can use *typecasting* to change the type of an object in Python. For example, you can convert the integer `2018` to the string `'2018'` using the function `str()`. Try running the code below in your notebook and then display the value of the variable `observation`:
```python
observation = 'The year is ' + str(year)
```

In [5]:
year = 2018
observation = 'The year is ' + str(year)
observation

'The year is 2018'

- Now create a variable `num_bottles` with a value of `99` (integer) and a variable `song_words` with a value of `' bottles of beer on the wall'`.
- Use the `+` operator and the `str()` function to concatenate `num_bottles` with `song_words` and confirm that it produces the output `'99 bottles of beer on the wall'`.

In [6]:
num_bottles = 99
song_words = ' bottles of beer on the wall'
str(num_bottles) + song_words

'99 bottles of beer on the wall'

**e) Other mathematical operators** 

What are the results of the following operations?

- `9 % 3`
- `10 % 3`
- `11 % 3`

How about the above operations with the `%` operator replaced with the `//` operator (e.g. `9 // 3`)? Based on these results, what do you think the `%` and `//` operators do? [(Hint)](https://jakevdp.github.io/WhirlwindTourOfPython/04-semantics-operators.html).

In [7]:
9 % 3

0

In [8]:
10 % 3

1

In [9]:
11 % 3

2

In [10]:
9 // 3

3

In [11]:
10 // 3

3

In [12]:
11 // 3

3

The `%` operator gives the remainder when dividing one number by the other, and the `//` gives the integer part of the division (floor division).

**f) Conditional statements** 

Create a conditional statement that prints `'Leap year'` if the value of the variable `year` is divisible by 4, and `'Not a leap year'` otherwise. Test your conditional statement by assigning different values to `year` and re-running the code.

In [13]:
year = 2016
if year % 4 == 0:
    print('Leap year')
else:
    print('Not a leap year')

Leap year

In [14]:
year = 2017
if year % 4 == 0:
    print('Leap year')
else:
    print('Not a leap year')

Not a leap year

# Exercise 1.2

**a)** Write a function which takes an input of temperature in degrees Celsius, and returns an output of temperature in degrees Fahrenheit (multiply the temperature in degrees C by 1.8 and add 32)

In [15]:
def celsius_fahrenheit(temp_celsius):
    """Convert temperature from Celsius to Fahrenheit"""
    temp_fahrenheit = 1.8 * temp_celsius + 32
    return temp_fahrenheit

**b)** Use this function to convert 15 C to Fahrenheit, and assign the output to a variable `temp_F`

In [16]:
temp_F = celsius_fahrenheit(15)
temp_F

59.0

### Bonus exercises

**c)** Create a new function based on your function from part (a), which converts the temperature from Celsius to Fahrenheit and also prints a message about the temperature:
- If the input temperature is less than 10 C, it prints `'Chilly!'`, 
- Otherwise, it prints `'OK'`.

Call the function with different input temperatures to test it.

In [17]:
def opinionated_celsius_fahrenheit(temp_celsius):
    """Convert temperature from Celsius to Fahrenheit and print an opinion"""
    temp_fahrenheit = 1.8 * temp_celsius + 32
    
    if temp_celsius < 10:
        print('Chilly')
    else:
        print('OK')
        
    return temp_fahrenheit

In [18]:
opinionated_celsius_fahrenheit(5)

Chilly

41.0

In [19]:
opinionated_celsius_fahrenheit(22.5)

OK

72.5

In [20]:
opinionated_celsius_fahrenheit(-10)

Chilly

14.0

**d)** Modify your function from part (c) so that it accepts a second input called `temp_chilly`, which is used for the "chilly" temperature threshold (instead of always using 10 C). Test the function by calling it with various values for each of the two inputs.

In [21]:
def opinionated_celsius_fahrenheit2(temp_celsius, temp_chilly=10):
    """Convert temperature from Celsius to Fahrenheit and print an opinion"""
    temp_fahrenheit = 1.8 * temp_celsius + 32
    
    if temp_celsius < temp_chilly:
        print('Chilly')
    else:
        print('OK')
        
    return temp_fahrenheit

In [22]:
opinionated_celsius_fahrenheit2(7)

Chilly

44.6

In [23]:
opinionated_celsius_fahrenheit2(7, temp_chilly=5)

OK

44.6

In [24]:
opinionated_celsius_fahrenheit2(15, temp_chilly=5)

OK

59.0

In [25]:
opinionated_celsius_fahrenheit2(15, temp_chilly=17)

Chilly

59.0

# Exercise 1.3

**a)** Create a list called `numbers` containing the values: `7, -4, 1e8, 8.3, 287, 29, -2.5, 9.8`

In [26]:
numbers = [7, -4, 1e8, 8.3, 287, 29, -2.5, 9.8]

**b)** Display a slice of `numbers` containing the last 3 items

In [27]:
numbers[5:]

[29, -2.5, 9.8]

**c)** Loop over the items in `numbers` to print out each item multiplied by 10

In [28]:
for num in numbers:
    print(10 * num)

70
-40
1000000000.0
83.0
2870
290
-25.0
98.0

### Bonus exercises

**d) Creating a sequence of integers** 

The built-in function `range` produces a sequence of integers from a specified start (inclusive) to stop (exclusive). This can be helpful when we want to loop over a long sequence of numbers without manually creating a list of those numbers. Try copying the code below into your notebook and running it to see how it works:

```python
for num in range(7, 16):
    print(num)
```

Using the code above as a guide, and also using the techniques from previous bonus exercise 1.1(d) for concatenating an integer variable with a string:
- Create a `for` loop that loops over a sequence of years from 1938 up to and including 2012, and for each year in the sequence, prints `'The year is '` plus the current value of the year.

> In a later bonus exercise, we'll use this loop for downloading Environment Canada weather data!

In [29]:
for year in range(1938, 2013):
    print('The year is ' + str(year))

The year is 1938
The year is 1939
The year is 1940
The year is 1941
The year is 1942
The year is 1943
The year is 1944
The year is 1945
The year is 1946
The year is 1947
The year is 1948
The year is 1949
The year is 1950
The year is 1951
The year is 1952
The year is 1953
The year is 1954
The year is 1955
The year is 1956
The year is 1957
The year is 1958
The year is 1959
The year is 1960
The year is 1961
The year is 1962
The year is 1963
The year is 1964
The year is 1965
The year is 1966
The year is 1967
The year is 1968
The year is 1969
The year is 1970
The year is 1971
The year is 1972
The year is 1973
The year is 1974
The year is 1975
The year is 1976
The year is 1977
The year is 1978
The year is 1979
The year is 1980
The year is 1981
The year is 1982
The year is 1983
The year is 1984
The year is 1985
The year is 1986
The year is 1987
The year is 1988
The year is 1989
The year is 1990
The year is 1991
The year is 1992
The year is 1993
The year is 1994
The year is 1995
The year is 1996
The year is 1997
The year is 1998
The year is 1999
The year is 2000
The year is 2001
The year is 2002
The year is 2003
The year is 2004
The year is 2005
The year is 2006
The year is 2007
The year is 2008
The year is 2009
The year is 2010
The year is 2011
The year is 2012

**e) Negative indices** 

- Display the item at index `-1` of your list `numbers` from part (a).
- How about index `-2`, `-3`, etc? 
- What do you conclude about negative indices?

In [30]:
# Display the list as a reminder
numbers

[7, -4, 100000000.0, 8.3, 287, 29, -2.5, 9.8]

In [31]:
numbers[-1]

9.8

In [32]:
numbers[-2]

-2.5

In [33]:
numbers[-3]

29

Negative indices count from the end of the list backwards, so `-1` is the last item, `-2` the second last, and so on.

**f) More about slices** 

- Display the slices `numbers[::2]`, `numbers[1:6:2]`, and `numbers[::-1]`.
- What do you conclude about the number after the second colon?
- How would you slice `numbers` to display every 3rd item starting from index 1?

In [34]:
numbers[::2]

[7, 100000000.0, 287, -2.5]

In [35]:
numbers[1:6:2]

[-4, 8.3, 29]

In [36]:
numbers[::-1]

[9.8, -2.5, 29, 287, 8.3, 100000000.0, -4, 7]

The number after the second colon specifies the step to take in the slice, so `2` is every second item, `3` is every third item. Negative steps reverse the direction.

Every third item starting from index 1:

In [37]:
numbers[1::3]

[-4, 287, 9.8]

**g) Indexing with strings** 

Create a variable `city` with a value of `'Vancouver'`. 
- Display the values of `city[0]` and `city[3:7]`.
- What do you conclude about indexing string variables?
- What happens if you try to assign `city[6] = 'Q'`?

In [38]:
city = 'Vancouver'

In [39]:
city[0]

'V'

In [40]:
city[3:7]

'couv'

In [41]:
city[6] = 'Q'

TypeError: 'str' object does not support item assignment

We can index the characters in a string with the same syntax as indexing the items in a list. However, unlike a list, we can't change the values of characters within a string.

# Exercise 1.4

First, create the dictionary from the lesson:

In [42]:
fruit_colors = {'banana' : 'yellow', 'strawberry' : 'red'}
fruit_colors['apple'] = 'green'
fruit_colors

{'apple': 'green', 'banana': 'yellow', 'strawberry': 'red'}

a) In the `fruit_colors` dictionary:
- Change the color of `apple` to `'red'`
- Add an item with key `'plum'` and value of `'purple'`
- Display the updated `fruit_colors` dictionary

In [43]:
fruit_colors['apple'] = 'red'
fruit_colors['plum'] = 'purple'
fruit_colors

{'apple': 'red', 'banana': 'yellow', 'plum': 'purple', 'strawberry': 'red'}

b) Loop through the `fruit_colors` dictionary and print the fruit name (key) only if its color (value) is `'red'`.

In [44]:
for fruit in fruit_colors:
    if fruit_colors[fruit] == 'red':
        print(fruit)

strawberry
apple

### Bonus exercises

c) Create a new *empty* dictionary `groceries` with the syntax `groceries = {}` and then display `groceries`. Add a key `'eggs'` with a value of `12` and display the updated `groceries` dictionary.

In [45]:
groceries = {}
groceries

{}

In [46]:
groceries['eggs'] = 12
groceries

{'eggs': 12}

d) Create a new dictionary `squares` whose keys are the integers `1`, `2`, `3`, `4`, `5`, and the value for each key is the key squared (so for key `1`, the value is `1`; for key `2`, the value is `4`; etc.).
- Hint: See if you can find a couple of different ways to accomplish this task. One approach might involve a list along with an empty dictionary and a `for` loop.

In [47]:
# Option 1
squares = {1 : 1, 2 : 4, 3 : 9, 4 : 16, 5 : 25}
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [48]:
# Option 2
squares = {}
for i in range(1, 6):
    squares[i] = i ** 2

squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}