# Solutions to Lesson 5 Exercises

For each exercise, the solutions below show one possible way of solving it, but you might have used a different approach, and that's great! There is almost always more than one way to solve any particular problem in Python.

## Initial Setup

Since this notebook is in the `solutions` sub-folder, use the  magic command `%cd` to go up one folder to the main project folder to keep the file paths the same as in the lessons:

In [1]:
%cd ..

C:\Users\jenfl\Projects\eoas-python

Import libraries, display plots inline, initialize variables from lesson:

In [2]:
import pandas
%matplotlib inline

In [3]:
world = pandas.read_csv('data/gapminder_world_data_2018.csv')
world['area'] = world['population'] / world['pop_density']
world_new = world.set_index('country')

In [4]:
world_new.head(10)

,population,region,sub_region,income_group,life_expectancy,gdp_per_capita,children_per_woman,child_mortality,pop_density,area
country,,,,,,,,,,
Afghanistan,36400000,Asia,Southern Asia,Low,58.7,1870,4.33,65.90,55.70,6.535009e+05
Albania,2930000,Europe,Southern Europe,Upper middle,78.0,12400,1.71,12.90,107.00,2.738318e+04
Algeria,42000000,Africa,Northern Africa,Upper middle,77.9,13700,2.64,23.10,17.60,2.386364e+06
Angola,30800000,Africa,Sub-Saharan Africa,Lower middle,65.2,5850,5.55,81.60,24.70,1.246964e+06
Antigua and Barbuda,103000,Americas,Latin America and the Caribbean,High,77.6,21000,2.03,7.89,234.00,4.401709e+02
Argentina,44700000,Americas,Latin America and the Caribbean,High,77.0,18900,2.26,10.60,16.30,2.742331e+06
Armenia,2930000,Asia,Western Asia,Upper middle,76.0,8660,1.60,12.90,103.00,2.844660e+04
Australia,24800000,Oceania,Australia and New Zealand,High,82.9,45800,1.83,3.40,3.22,7.701863e+06
Austria,8750000,Europe,Western Europe,High,81.8,44600,1.52,2.89,106.00,8.254717e+04
Azerbaijan,9920000,Asia,Western Asia,Upper middle,72.3,16600,2.04,30.30,120.00,8.266667e+04

# Exercise 5.1

a) Use `iloc` to select the cell in row 5, column 8 of `world_new`.

In [5]:
world_new.iloc[5, 8]

16.3

b) Same as a) but using `loc`.

In [6]:
world_new.loc['Argentina', 'pop_density']

16.3

c) Use `loc` to select the cell in `world_new` containing the population of Australia.

In [7]:
world_new.loc['Australia', 'population']

24800000

d) Same as c) but using `iloc`

In [8]:
world_new.iloc[7, 0]

24800000

# Exercise 5.2

a) Use `iloc` to select the rows 150 up to and including 160, and the first 3 columns of `world_new`.

In [9]:
world_new.iloc[150:161, :3]

             population    region                       sub_region
country
Suriname         568000  Americas  Latin America and the Caribbean
Swaziland       1390000    Africa               Sub-Saharan Africa
Sweden          9980000    Europe                  Northern Europe
Switzerland     8540000    Europe                   Western Europe
Syria          18300000      Asia                     Western Asia
Tajikistan      9110000      Asia                     Central Asia
Tanzania       59100000    Africa               Sub-Saharan Africa
Thailand       69200000      Asia               South-eastern Asia
Timor-Leste     1320000      Asia               South-eastern Asia
Togo            7990000    Africa               Sub-Saharan Africa
Tonga            109000   Oceania                        Polynesia

b) Use `iloc` to select every tenth row (starting from 0) and columns 2, 0, and 3 of world_new.

In [10]:
world_new.iloc[::10, [2, 0, 3]]

,sub_region,population,income_group
country,,,
Afghanistan,Southern Asia,36400000,Low
Bahamas,Latin America and the Caribbean,399000,High
Bosnia and Herzegovina,Southern Europe,3500000,Upper middle
Chad,Sub-Saharan Africa,15400000,Low
Cuba,Latin America and the Caribbean,11500000,Upper middle
Eritrea,Sub-Saharan Africa,5190000,Low
Ghana,Sub-Saharan Africa,29500000,Lower middle
Iceland,Northern Europe,338000,High
Jordan,Western Asia,9900000,Upper middle
Liberia,Sub-Saharan Africa,4850000,Low
Malta,Southern Europe,432000,High
Namibia,Sub-Saharan Africa,2590000,Upper middle
Pakistan,Southern Asia,201000000,Lower middle
Romania,Eastern Europe,19600000,Upper middle
Slovak Republic,Eastern Europe,5450000,High
Suriname,Latin America and the Caribbean,568000,Upper middle
Tonga,Polynesia,109000,Upper middle
Uruguay,Latin America and the Caribbean,3470000,High

# Exercise 5.3

a) Use `loc` to select the GDP per capita and population density in Canada, United States, and Mexico.

In [11]:
countries = ['Canada', 'United States', 'Mexico']
world_new.loc[countries, ['gdp_per_capita', 'pop_density']]

               gdp_per_capita  pop_density
country
Canada                  43800         4.06
United States           54900        35.70
Mexico                  17300        67.30

b) Use `loc` to select rows where the GDP per capita is greater than `50000`, and a column slice from `'life_expectancy'` through `'children_per_woman'` (inclusive).

In [12]:
rich = world_new['gdp_per_capita'] > 50000
world_new.loc[rich, 'life_expectancy' : 'children_per_woman']

                      life_expectancy  gdp_per_capita  children_per_woman
country
Ireland                          81.5           65600                1.98
Kuwait                           80.0           68400                1.95
Luxembourg                       82.4           99000                1.59
Norway                           82.4           64800                1.83
Qatar                            80.7          121000                1.87
Saudi Arabia                     77.6           50100                2.45
Singapore                        84.0           83900                1.26
Switzerland                      83.5           57100                1.55
United Arab Emirates             76.9           68200                1.72
United States                    79.1           54900                1.90